/* landing page specific styling */
#landing-page main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

#landing-page h1 {
    border-bottom: 3px solid black;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
}

#landing-page .pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#page-select {
    margin-top: 10px;
}

#landing-page .user-select {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 6px 0 4px 60px;
}

#landing-page .user-select p {
    display: inline-block;
    width: fit-content;
    margin-left: 10px;
    position: relative;
    top: -15px;
    margin-bottom: -15px;
}

#landing-page a {
    color: black;
}

#landing-page a div:hover {
    background-color: lightgray;
}

/* main page select */
#user-home .home-select {
    display: flex;
    align-items: flex-end;
    border: 3px solid red;
    max-width: 800px;
    margin: 0 auto;
}

#user-home .home-select a {
    width: 30%;
    margin: 0 auto;
}

#user-home .home-select-option {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#user-home .home-select-option h2 {
    margin: 5px;
}

#user-home .home-select-option img {
    width: 100%;
}