/* global settings */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --global-padding: 8px;
}

.width-800 {
    max-width: 800px;
}

/* landing page specific styling */
#landing-page main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

#landing-page h1 {
    border-bottom: 3px solid black;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
}

#landing-page .pfp, #user-chapters .pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#page-select {
    margin-top: 10px;
}

#landing-page .user-select {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 6px 0 4px 60px;
}

#landing-page .user-select p {
    display: inline-block;
    width: fit-content;
    margin-left: 10px;
    position: relative;
    top: -15px;
    margin-bottom: -15px;
}

#landing-page a {
    color: black;
}

#landing-page a div:hover {
    background-color: lightgray;
}

/* main page select */
#user-home .home-select {
    display: flex;
    align-items: flex-end;
    max-width: 800px;
    margin: 0 auto;
}

#user-home .home-select a {
    width: 30%;
    margin: 0 auto;
}

#user-home .home-select-option {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#user-home .home-select-option h2 {
    margin: 5px;
}

#user-home .home-select-option img {
    width: 100%;
}

#user-chapters header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#user-chapters div {
    text-align: center;
}

#user-chapters header p {
    margin: 0;
}

#switch-users {
    padding: 10px;
    width: 140px;
}

#switch-users img {
    float: left;
}


@media screen and (width >= 800px) {
    #user-chapters h1 {
        margin: 0;
        padding: 0;
    }
    #user-chapters header {
        height: 65px;
        align-items: center;
        padding: 0 50px 0 220px;
    }

    #hamburger {
        font-size: 36px;
        margin: 0;
        padding-right: var(--global-padding);
        text-align: right;
        z-index: 150;

    }

    #user-chapters nav {
        width: 200px;
        height: calc(100% - 65px - 40px);
        position: fixed;
        left: 0;

        overflow: auto;
        z-index: 100;
    }

    #user-chapters nav ul li {
        list-style: none;
        padding: 6px;
    }
    
    #user-chapters nav ul {
        margin: 0;
        padding: 0 15px;
        clear: both;
    }

    #user-chapters nav:not(.open) {
        transform: translateX(-200px);
    }

    #user-chapters nav:not(.open) #hamburger {
        position: fixed;
        transform: translateX(200px);
        padding: 0 10px;
        border-radius: 0 0 50% 0;
    }

    #user-chapters main {
        position: fixed;
        top: 65px;
        left: 200px;
        padding: var(--global-padding);
        width: 100%;
        height: calc(100% - 65px - 40px);
        overflow: auto;
        z-index: 50;
    }

    #user-chapters .full {
        left: 0;
        padding-left: 75px;
    }

    #user-chapters footer {
        height: 40px;
        padding: var(--global-padding);
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

}